body {
    position: relative;
    
}




.top {
    position: relative;
}


.top p {
    position: absolute;
    color: white;
    top: 25%;
    left: 30%;
    font-size: 80px;
    border-bottom: 3px solid white;
    font-family: 'Hiragino Mincho Pro';
    opacity: 0;
    animation: fadeIn 2.0s ease 0.7s 1 forwards;

}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}


.toptext {
    position: absolute;
    color: white;
    font-size: 20px;
    margin-top: 13px;
    font-family: 'Hiragino Mincho Pro';
    font-style: normal;
    font-weight: 100;
}

.nav-link {
    font-family: 'Hiragino Mincho Pro';
}

.d-flex {
    height: 1000px;
}

h2 {
    font-family: 'Hiragino Mincho Pro';
    border-bottom: 1px solid black;
    
}

h3 {
    font-family: 'Hiragino Mincho Pro';
    border-bottom: 1px solid black;
    padding-top: 50%;
}


h4 {
    font-family: 'Hiragino Mincho Pro';
}

#profile-area p {
    font-family: 'Hiragino Mincho Pro';
    font-size: 15px;
    padding-bottom: 50%;

}

#favorite-area {
    height: 300px;
}


h5 {
    color: black;
    font-family: 'Hiragino Mincho Pro';
    position: absolute;
    top: 12%;
    left: 35%;
    border-bottom: 1px solid black;
    font-size: 40px
}

#sns {
    color: white; 
    background-color: black;
}

#link-area {
    height: 300px;
    background-color: black;
    color: white;
}



footer {
    width: 100%;
    height: 600px;
    background-color: black;
    text-align: center;

}

.fab {
    color :#fff;
    margin: 10px;
    padding: 10px;
    opacity: 0.7;
    border-radius: 50%;
    border: solid 0.5px white;
    margin-top: 5%;
}



.cards {
    display: flex;
    background-color: black;
}

.card {
    width: auto;
}

.card-title {
    color: black;
    font-size: 30px;
}


.card-text {
    color: gray;
    font-family: 'Hiragino Mincho Pro';
}

.list-unstyled {
    margin-top: 5%;
    margin-right: 15%;
    flex: auto;
}

.media {
    margin-top: 5%;
    margin-left: 25%;
    flex: auto;
}

h6 {
    padding-bottom: 10px;
    color:black;
    font-family: 'Hiragino Mincho Pro';

}

.mybest {
    font-family: 'Hiragino Mincho Pro';
    color: gray;
}

footer p {
    color: white;
    font-size: 20px;
    background-color: black;
}


@media (max-width: 670px) {

    .top img{
        width: 670px;
        height: 300px;
    }

    .top p {
        font-size: 25px;
        top: 40%;
        left: 30%;

    }

    .toptext {
        font-size: 10px;
    }

    .cards {
        display: inline;;
    }

    .card {
        width: auto;
    }

    .card2, .card3 {
        margin-top: 10%;
    }

    .media {
        width: 100%;
        margin-left: 10%;
    }

    .mybest {
        font-size: 10px;
    }

    .nav1 {
        width: auto;
        font-size: 10px;
        margin-left: 0;
    }

    .collapse {
        width: auto;
        margin-left: 0;
    }

}
